*.mscz
*.mscz,
*.mscx
*.mscx,
*.mid
*.midi
*.ly
*.xml
*.pdf
*.ps
*.eps
*.dat
*.temp
*.tmp
*.bak
*.sha256
*.json

*.markup_list.txt
*.part_list.txt
*.part_list_for_score.txt

Thumbnails
META-INF
.DS_Store

xml_cache/*
!.gitkeep

!resources/*.ly
